/* Home Hero 1.0 */

.hero_section {
    position: relative;
    background: url("../Assets/hero/hero-1.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 150px 0 90px 0;
}

.hero_section .price_badge {
    background: url("../Assets/hero/price-badge-yellow.png") no-repeat center center;
    background-size: cover;
    position: absolute;
    top: -20px;
    right: 5px;
    width: 180px;
    height: 176px;
    text-align: center;
}

.hero_section .badge_text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hero_section .badge_text .h4_xs {
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 1;
}

.hero_section .badge_text .h3_lg {
    font-size: 2.875rem;
    font-weight: 600;
    line-height: 1;
}

.hero_section .hero_text h1 {
    font-family: var(--lilita-font);
    font-size: 7rem;
    line-height: 1;
    margin-bottom: 50px;
    letter-spacing: 3px;
}

.hero_section .hero_text h2 {
    font-family: var(--lilita-font);
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

.hero_section .hero_text p {
    padding: 0 5%;
}

/* Home About 2.0 */

.about_section {
    padding: 80px 0 300px 0;
    background: url("../Assets/about/about-1.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
}

.about_section h2 {
    font-size: 3.5rem;
}

.about_section p {
    color: var(--grey);
    padding: 20px 30px;
    font-size: 19px;
}

.about_wrapper {
    background: var(--yellow);
    padding: 70px 0 30px 0;
}

.about_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_box .about_icon {
    max-width: 25%;
}

.about_box h4 {
    font-size: 26px;
    line-height: 1;
    letter-spacing: 0.5008px;
    margin: 30px 0 20px 0;
}

.about_box p {
    padding: 0 20px;
}

/* Media Query */
@media (max-width:992px) {

    /* Home About 2.0 */
    .about_section h2 {
        font-size: 2.5rem;
    }

    .about_section p {
        padding: 20px 0;
    }

    .about_wrapper .about_box p {
        padding: 0;
    }
}

@media (max-width:767px) {

    /* Home Hero 1.0 */
    .hero_section .hero_text h1 {
        font-size: 5.5rem;
    }
}